.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  padding: auto;
  
}

.navigationButton{
  border: 3px solid rgb(238, 238, 119);
  
}

/*Home Page*/

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/*Login Page*/


.titleLoginPage {
  font-size: 40px;
  font-family: calibri;
  margin-left: 40px;
}
.secondTitle{
  font-size: 24px;
  font-family: calibri;
  margin-left: 20px;

}

.container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoLoginPage{
  border-radius: 5px;
  
}

.usernameLogin,
.passwordLogin {
  margin-bottom: 20px;
}

.usernameLogin input,
.passwordLogin input {
  width: 100%;
}

.loginButton {
  width: 60px;
  height: 30px;
  margin: 20px;
  font-weight: bolder;
  border-radius: 5px;
  border: 3px solid rgb(238, 238, 119);
   
}

.leftContent{
  flex: 1;
  padding: 2rem;
  background-color: rgb(238, 238, 119);
}

.rightContent{
  flex: 1;
  background-color: rgb(238, 238, 119);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
/*Categories Page*/

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.head button {
  border: none;
  background: none;
  cursor: pointer;
  border: 3px solid rgb(238, 238, 119);
  
}

.userInfo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.userName {
  margin-right: 40px;
  font-size: x-large;
  font-weight: bold;
  font-family: calibri;
  margin-right: 10px;

}
.userInfo > *:not(:last-child) {
  margin-right: 20px;
}
.loginSuggestion{
  font-size: large;
  font-weight: bold;
  font-family: calibri;

}

.body {
  text-align: center;
}

.titleCategories{
  text-align: center;
  font-family: calibri;
  font-size: 40px;

}

.filterContainer{
  text-align: center;
  font-family: calibri;
  font-size: xx-large;
}

.categoriesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  background-color: rgb(238, 238, 119);
  
}

.categoriesCardImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid rgb(238, 238, 119);
  margin-left: 80px;
  padding: 20px;
  margin-top: 20px;

}

.logoCategoriesPage{
  border-radius: 5px;
  display: block;
  position: relative;

}

/*Dashboard Page*/


.tableColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}





