.navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  padding: auto;
  
}

.navigationButton{
  border: 3px solid rgb(238, 238, 119)
}

/*Home Page*/

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/*Login Page*/

.container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoLoginPage{
  border-radius: 5px;
  
}

.loginButton {
  width: 60px;
  height: 30px;
  margin: 20px;
  font-weight: bolder;
  border-radius: 5px;
  border: 3px solid rgb(238, 238, 119);
   
}

/*Categories Page*/

.leftContent{
  flex: 1;
  padding: 2rem;
  background-color: rgb(238, 238, 119);
}

.rightContent{
  flex: 1;
  background-color: rgb(238, 238, 119);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleCategories{
  text-align: center;

}

.filterContainer{
  text-align: center;
}

.categoriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  
}

.categoriesCardImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid rgb(238, 238, 119);
  margin-left: 170px;
  
}

.logoCategoriesPage{
  border-radius: 5px;
  display: block;
  position: relative;

}





